*{
    /*font-size: 62.5%;*/
    margin: 0;
    padding: 0;
    border:1px solid black;
}

body{
    background-color: #131f3d;
}

#profile_photo{
    border:5px solid white;
    width: 30vw;
}


header{
    display: inline-block;
    width: 30vw;
}

#sections{
    display: inline-block;    
    height: 100hv;
    margin-top: 0;
}

#Home{
    display: inline-block;    
    height: 100hv;
    width: 65vw;
    color:white
}

span, p{
    color:white;
}

.proy_title{
    margin:0 auto;
    text-align: center;
    color:white;
}

h4{
    color:white; 
    text-align: center;
}

a{
    color: white;
    text-decoration-line: none;
}